.footIcons {
    display: flex;
    align-items: center;
}
.footIcon {
    width: 25%;
    font-size: 1.4rem;
    padding: 10px;
    transition: all 0.5s ease;
}

.footIcon:hover,
.footIcon.active {
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
}